@import "tailwindcss";
:root {
  --background: #09090b; /* Zinc 950 */
  --foreground: #ffffff;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
